.containerr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.containerFilter {
  width: auto;
  margin: 30px 0 50px 0;
  text-align: center;
  position: relative;
  z-index: 0;
}
.projects .filter {
  background-color: var(--colorFour);
  padding: 14px 40px;
  margin: 0 25px;
  color: var(--colorSecondary);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed var(--colorFour);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
}

.projects .filter span:last-child {
  display: none;
}

.projects .filterAll{
  transition: 0.4s;
  border: 2px dashed var(--colorFour);
  background-color: var(--colorSecondary);
  color: var(--colorFour);
}

.projects .filter:focus {
  transition: 0.4s;
  border: 2px dashed var(--colorFour);
  background-color: var(--colorSecondary);
  color: var(--colorFour);
}

.projects .filter:active {
  background-color: var(--colorSecondary);
}

.projects .filter h2 {
  font-size: clamp(18px, 5vw, 25px);
  margin: 0;
  padding: 0;
}

.projects .card {
  width: 500px;
  height: 300px;
  margin: 30px;
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6ae7b,
    #eacda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6ae7b,
    #eacda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--colorSecondary);
  transition: 0.2s ease-in-out;
  border: 0;
  text-align: center;
  box-shadow: 9px 12px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.projects img {
  width: 95%;
  height: 250px;
  object-fit: cover;
  position: absolute;
  transition: 0.2s ease-in-out;
  border-radius: 20px;
  z-index: 1;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: clamp(20px, 4vw, 30px);
}

.textBox > .price {
  font-size: clamp(18px, 4vw, 25px);
}

.textBox > span {
  font-size: clamp(18px, 4vw, 25px);
  font-weight: 600;
  color: var(--colorDark);
}
.projects .card:hover {
  padding: 25px;
}
.projects .card:hover > .textBox {
  opacity: 1;
}

.projects .card:hover > img {
  height: 65%;
  filter: blur(35px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.projects .card:hover {
  transform: scale(1.04) rotate(-1deg);
}

.links a {
  cursor: pointer;
  text-decoration: none;
  margin: 0 15px;
  color: var(--colorPrimary);
  font-size: 30px;
  transition: 0.2s all;
}
.links a:hover {
  color: var(--colorSecondary);
  font-size: 35px;
}
@media only screen and (max-width: 600px) {
  .containerFilter {
    margin: 10px 0 20px 0;
  }
  .projects .filter {
    margin: 25px 10px;
  }
  .projects .card > .textBox {
    opacity: 1;
  }
  .projects .card {
    height: 280px;
    padding: 15px;
  }
  .projects .card > img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
  }
  .projects .card {
    transform: scale(1.04) rotate(-1deg);
  }
}
