/* Skills */
.skills > .titlePrincipal {
  width: 100%;
  background-color: var(--colorFour);
}

.skillsToggle {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 50px;
}

.skillsToggle section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skillsToggle span {
  width: 80%;
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  border-radius: 50px;
  background: var(--colorThird);
}

.navItem > .navLink {
  font-size: 22px;
  color: var(--colorDark);
}

.progress {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.containerSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSkills img {
  margin: 5px;
  padding: 5px;
}

.level1,
.level2 {
  text-align: center;
}

.containerSkills .html {
  width: 12%;
}
.containerSkills .css {
  width: 15%;
}
.containerSkills .git {
  width: 19%;
}
.containerSkills .js {
  width: 13%;
}
.containerSkills .trello {
  width: 11%;
}
.containerSkills .sql {
  width: 20%;
}
.containerSkills .scrum {
  width: 11%;
}
.containerSkills .react {
  width: 10%;
}
.containerSkills .trello {
  width: 12%;
}
.containerSkills .figma {
  width: 9%;
}
.containerSkills .gitLab {
  width: 16%;
}
.containerSkills .gitHub {
  width: 8%;
}
.containerSkills .bootstrap {
  width: 15%;
}

@media only screen and (min-width: 600px) {
  .progress {
    width: 50%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .containerSkills {
    align-items: center;
    justify-content: center;
  }

  .level1 {
    text-align: left;
  }
  .level2 {
    text-align: right;
  }
  .containerSkills img {
    margin: 20px;
    padding: 10px;
  }
}
