html > body {
  background-color: var(--colorPrimary);
}

.nav div{
  padding: 0;
}

.nav .iconNav {
  border: none;
  outline: none;
  font-size: 30px;
}

.nav .navCollapse {
  background-color: var(--colorFour);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .nav .iconNav {
    display: none;
  }
  .nav {
    flex-wrap: nowrap !important;
  }
  .nav .navCollapse {
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav .collapse:not(.show) {
    display: block;
  }
  .navItem .border {
    border: none !important;
    margin: 0 25px;
    font-size: 30px;
  }
  .navItem .resume {
    font-size: 30px;
  }
}

.navItem .resume {
  width: auto;
  border: 3px solid var(--colorSecondary);
  border-radius: 5px;
}

/* .navItem .border{
  width: 100px;
  height: 40px;
  margin: 5px auto;
  background-color: var(--colorPrimary);
  position: relative;
  border: none;
}

.border::after{
  content: '';
  width: 104px;
  height: 44px;
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  background-image: linear-gradient(to left, transparent 13px, var(--colorPrimary) 13px, var(--colorPrimary) 93px, transparent 93px), 
                    linear-gradient(var(--colorSecondary) 13px, transparent 13px, transparent 33px, var(--colorSecondary) 33px);
} */

.banner {
  height: 480px;
  opacity: 40%;
  object-fit: cover;
  filter: blur(5px);
}

.bannerLogo {
  display: none;
}

.container > .containerBanner::before {
  content: "";
  background: #30445f;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* .bannerLogo {
  width: 40%;
  object-fit: fill;
  position: absolute;
  bottom: -50px;
  right: -80px;
  z-index: 2;
}


.container > .containerBanner::after {
  content: '';
  width: 100%;
  opacity: 50%;
  background: var(--colorFour);
  clip-path: polygon(100% 0, 80% 0%, 65% 100%, 100% 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
} */

.containerText {
  font-family: var(--fontPrincipal);
}

.sizeText {
  font-size: 18px;
}

.titleMuted {
  font-size: 26px;
  color: #d9d9d9;
}

.titleHi > span {
  font-size: 22px;
}

.description {
  letter-spacing: 3px;
  font-family: var(--fontSecondary);
}

.button {
  width: 30%;
  margin: auto;
  border: 3px solid var(--colorFour);
  border-radius: 5px;
  color: var(--colorFour);
}

.line {
  margin: 25px auto;
  padding: 3px;
  border-radius: 50px;
  opacity: 100%;
}

.lineBlue {
  width: 90%;
  background-color: var(--colorSecondary);
}

.lineLigthBlue {
  width: 80%;
  background-color: var(--colorThird);
}
.lineLigthBlueC {
  width: 70%;
  background-color: var(--colorThird);
}
/* Lineas Generales */

.aboutMe > .titlePrincipal, 
.skills >  .titlePrincipal,
.contact >  .titlePrincipal{
  text-align: center;
  font-size: 32px;
  color: var(--colorSecondary);
  position: relative;
}

.titlePrincipal > .lineTrough {
  width: 25%;
  height: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50px;
  background: var(--colorSecondary);
}

.sideRight {
  right: 0;
}

.sideLeft {
  left: 0;
}
/* End Lineas Generales */

.allRights {
  padding: 15px;
  text-align: center;
}

.allRights > h4 {
  font-size: 24px;
}

.socialMedia {
  padding: 15px;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--colorDark);
}
