/* Contact */
.contact > .titlePrincipal {
  width: 100%;
  background-color: var(--colorFour);
  z-index: -1;
}

.containerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact .contactDesc {
  font-size: 30px;
  text-align: justify;
  color: var(--colorThird);
  letter-spacing: 3px;
  font-family: var(--fontSecondary);
}

.titleTouch {
  text-align: center;
  font-size: 32px;
  color: var(--colorSecondary);
}

.containerContact .buttonContact {
  margin: 0 50px;
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--colorThird);
  font-size: 20px;
  color: var(--colorFour);
  transition: all 1s;
  text-decoration: none;
}

.buttonContact span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: auto;
  height: 2.5em;
  background-color: var(--colorThird);
  border-radius: 0.2em;
  font-size: 1.5em;
  color: var(--colorFour);
  border: 0.08em solid var(--colorFour);
  box-shadow: 0 0.4em 0.1em 0.019em var(--colorFour);
}

.buttonContact span:hover, .buttonContact:hover{
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 var(--colorFour);
  background-color: var(--colorSecondary);
}

.buttonContact span:not(hover) {
  transition: all 1s;
  padding: 10px;
}

.legendContact {
  width: 100%;
  padding: 10px;
}

.containerContact button:hover {
  background-color: var(--colorSecondary);
  color: var(--colorPrimary);
  transform: scale(0.9);
}

.contact img {
  width: 50%;
  opacity: 0.5 !important;
}
@media only screen and (min-width: 800px) {
  .contact img {
    width: 25%;
  }

  .containerContact {
    flex-direction: row;
  }

  .containerContact button {
    width: 40%;
    padding: 8px 15px;
  }
}
