.containerSocial {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.containerSocial > .socialMedia {
  display: flex;
  flex-direction: column;
}

.socialMedia > a {
  text-decoration: none;
}

.socialMedia > a > i {
  cursor: pointer;
  font-size: 32px;
  color: var(--colorSecondary);
  transition: 0.3s all;
  position: relative;
}

.socialMedia > a:nth-child(2) {
  padding-left: 15px;
}
.socialMedia > a:nth-child(4) {
  padding-left: 15px;
}

.socialMedia > a > i:hover {
  font-size: 30px;
  color: var(--colorThird);
}

.socialMedia .lineTrough {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: -30px;
  bottom: 0;
  margin: auto;
  border-radius: 50px;
  background: var(--colorSecondary);
}

@media only screen and (max-width: 800px) {
  .containerSocial {
    display: none;
  }
}

@media only screen and (max-width: 1480px) {
  .containerSocial {
    left: 5px;
  }
}