.descPerfil > .aboutDesc {
  font-size: clamp(24px, 4vw, 30px);
  text-align: justify;
  color: var(--colorSecondary);
  letter-spacing: 3px;
  font-family: var(--fontSecondary);
}

.conttt > .contPerfil > .perfil {
  width: 70%;
  opacity: 50%;
}

.conttt > .contPerfil {
    text-align: center;
  }

.conttt {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .conttt > .contPerfil > .perfil {
    width: 200px;
}
  .conttt > .contPerfil {
    width: 100%;
  }
  .conttt {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .descPerfil > .aboutDesc {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .conttt > .contPerfil > .perfil {
    width: 400px;
}
}
